/*---------------------------*/
/*<!---- @nkmjs/dialog ----!>*/
/*---------------------------*/

@use '../_constants';
@use '../_variables';
@use '../_functions';
@use '../_mixins';

:host{
    padding:var(#{$id_size_l});
}

.content{
    &.shown{
        animation: scaleIn 150ms ease-in-out forwards;
    } 
    &:not(.shown){
        animation: scaleOut 150ms ease-in-out forwards;
    }    
}

