/*-------------------------------*/
/*<!---- @nkmjs/ui-library ----!>*/
/*-------------------------------*/

@use '../_variables';
@use '../_mixins';
@use '../_functions';
@use '../_constants';

$r : 5px;

:host {
    padding: $r;
    border-radius: $r;
    background-color: rgba(var(#{$id_col_base_400}-rgb), 1);
}