/*-------------------------------*/
/*<!---- @nkmjs/ui-library ----!>*/
/*-------------------------------*/

@use '../_constants';
@use '../_variables';
@use '../_mixins';

@use './_button';

:host {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
}

:host(#{$FOCUSED}) {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
}