/*-------------------------------*/
/*<!---- @nkmjs/ui-library ----!>*/
/*-------------------------------*/

@use '../_constants';
@use '../_variables';
@use '../_mixins';
@use '../_functions';

@use './_button';

:host{

    height: var(--size);
    min-height: var(--size);
    max-height: var(--size);

    width: var(--size);
    min-width: var(--size);
    max-width: var(--size);

    & .icon{
        opacity: 0.8;
    }

}

:host(#{$FOCUSED}){
    & .icon{
        opacity: 1;
    }
}

